@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://www.yomogi.com/
File name:shoplist_sp.css
Summary:base styles
Created:2021-4-9
Last update:2021-4-9 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@media screen and (max-width: 980px) {

/* Contents */
/* ------------------------------------------------------------ */
main#shoplist {
}
main#shoplist .inner {
    padding: 0 10px 60px;
}
main#shoplist a {
    color: #231815;
}
main#shoplist .title {
	background: url(../images/bg_header.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
main#shoplist section {
	margin: 0 auto;
    padding: 0;
}
main#shoplist section .subtitle {
    margin: 60px 0 20px;
}
main#shoplist section .dllist {
	margin: 20px 0 0;
}

main#shoplist section .dlbox {
	width: 100%;
    display: block;
}

main#shoplist section .dlbox .dtbox {
	color: #808080;
	text-align: left;
    width: 100%;
	border-top: 1px #000 solid;
	display: block;
}

main#shoplist section .dlbox .ddbox {
	text-align: left;
	width: 100%;
	border-top: 1px #bfbfbf solid;
	display: block;
}

main#shoplist section .dlbox:last-child .dtbox {
	border-bottom: none;
}

main#shoplist section .dlbox:last-child .ddbox {
	border-bottom: 1px #000 solid;
}

main#shoplist section .dlbox .wrap {
    font-size: 14px;
    line-height: 1.7;
	padding: 5px 10px;
}
main#shoplist .dlbox .inner {
    line-height: 1.3;
	padding: 15px;
}

main#shoplist figure {
    width: 100%;
}

main#shoplist figure img {
    width: 100%;
	height: auto;
}

}