@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://www.yomogi.com/
File name:style.css
Summary:base styles
Created:2021-4-9
Last update:2021-4-9 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@import url("/css/fonts.css?date=20210406");

@import url("/css/reset.css?date=20210406");

@import url("/css/common.css?date=2020120210406201");
@import url("/css/index.css?date=20210406");
@import url("/css/shoplist.css?date=20210406");
@import url("/css/corporation.css?date=20210406");

@import url("/css/common_sp.css?date=20210406");
@import url("/css/index_sp.css?date=20210406");
@import url("/css/shoplist_sp.css?date=20210406");
@import url("/css/corporation_sp.css?date=20210406");
