@charset "shift-jis";


html {
	overflow: scroll;
	width: 100%;
	margin: 0px;
}
body {
	padding: 0px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-style: normal;
	line-height: 1.5;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
	text-align: left;
	/* bgcolor: #80273F; */
	background: url(../image2014/bg.jpg) repeat;
	margin: 0px;
	margin-top: 0px;
}
.topimg {
	padding: 0px 0px 0px 0px;
	margin: 100px 0px 0px 0px;
	width: 800px;
	float: right;
}
.soilname {
	background-image: url(../image/soilname.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 441px;
	margin: 20px 0 0 50px;
	padding: 0px 0 0 0;
	display: block;
	position: absolute;
	color: #898989;
	float: left;
}
.soilname-small {
	background-image: url(../image/soilname-small.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 441px;
	margin: 350px 0 0 920px;
	padding: 0px 0 0 0;
	display: block;
	position: absolute;
	color: #898989;
	float: left;
}
.NaviBox {
	margin: 0px 0 0 0px;
	padding: 0px 0 0 0;
	display: block;
	position: absolute;
}
.topcontents {
	margin: 0 auto;
	max-width: 1100px;
}
.contentBox {
	
	position: relative;
}
/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
.gNavi {
	margin: 0 0 0 0;
	padding: 575px 0 0 0;
}
.gNavi ul li {
	padding: 0 0 17px 5px;
	font-size: 17px;
	list-style: none;
}
.gNavi ul li span.on {
	cursor: pointer;
}
.gNavi ul li a {
	color: #333;
	font-family: 'FOT-筑紫オールド明朝 Pro R', serif;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
.gNavi ul li a::after {
	background-color: #555;
	bottom: 0px;
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: right center 0;
	transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	width: 100%;
}
.gNavi ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: left center 0;
	list-style: none;
}
/*------------------------------------------------------------
	Pickup news
------------------------------------------------------------*/

.news {
	font-family: 'Noto Serif', serif;
	font-size: 1.4rem;
	letter-spacing: 0.1em;
	line-height: 1;
	text-align: center;
	padding: 100px 0 0 0;
	margin: 0 auto;
	max-width: 1100px;
}
.news-s {
	font-family: 'Noto Serif', serif;
	font-size: 0.7rem;
	letter-spacing: 0.1em;
	line-height: 3;
	text-align: center;
	margin: 0 auto;
	max-width: 1100px;
}
.news-contents {
	color: #A8A6A6;
	
}
.news-contents li {
	list-style: none;
	margin: 10px;
	padding: 15px;
	border-radius: 4px;
	float: left;
	width: 300px;
}
.picupnews {
	font-family: 'Noto Serif', serif;
	font-size: 0.9rem;
	letter-spacing: 0.1em;
	line-height: 1.7;
}

.news-contents a:hover {
	color: #A8A6A6;
}

.news-contents a {
	text-decoration: none;
	color: #333;
}

.newsimg {
	margin: 0 0 10px 0;
	text-align: center;
}
.news-wrap {
	margin: 0 auto;
	max-width: 1100px;
}
.newscate {
	width: 90%;
	text-align: left;
	margin: 0 0 0px 10px;
}
.logo {
	margin: 30px 0 0 40px;
	padding: 13px 0;
	width: 200px;
}
/*------------------------------------------------------------
	ページトップへ
------------------------------------------------------------*/
.yazirusi {
	padding: 30px 0 0 0;
	margin: 0 auto;
	max-width: 1100px;
	text-align: left;
}
.yazirusinner {
	width: 180px;
	float: right;
	text-align: center;
	font-family: YuMincho, "游明朝", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", Times New Roman, serif;
	line-height: 1;
	color: #000;
	text-rendering: optimizeLegibility;
}
.arrow2 {
	width: 30px;
	height: 30px;
	border: 1px solid;
	border-color: #565656 #565656 transparent transparent;
	transform: rotate(-45deg);
	margin: 0 0 0 70px;
}
.yazirusinner a {
	text-decoration: none;
}
p span {
	color: #333;
}
p span:hover {
	color: #A8A6A6;
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	background-color: #fff;
	margin: 70px 0 0 0;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#fBox {
	margin: 0 auto;
	max-width: 1100px;
	padding: 0px 0px 0px 20px;
	position: relative;
}
.fBox {
	padding: 20px 0 0 0;
}
.fNavi {
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
	list-style: none;
	border-top: solid 1px #a4a4a4a6;
}
.fNavi ul li {
	letter-spacing: 0.1em;
	line-height: 2;
	font-size: 12px;
	display: inline-block;
	list-style-type: none;
	margin: 0 auto;
	padding: 0px 60px 10px 0;
}
.fNavi ul li span.on {
	cursor: pointer;
}
.fNavi ul li .subNavi {
	display: none;
}
.fNavi ul li .subNavi ul {
	margin: 3px 0 7px 15px;
}
.fNavi ul li .subNavi li {
	padding: 11px 0 0 0;
	font-size: 13px;
}
.fNavi ul li a, .sideBar .link a {
	color: #333;
	font-family: 'FOT-筑紫オールド明朝 Pro R', serif;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
.fNavi ul li a::after, .sideBar .link a::after {
	background-color: #555;
	bottom: 0px;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: right center 0;
	transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	width: 100%;
}
.fNavi ul li a:hover::after, .sideBar .link a:hover::after {
	transform: scaleX(1);
	transform-origin: left center 0;
	list-style: none;
}
.faddress {
	letter-spacing: 0.1em;
	line-height: 1.7;
	width: 50%;
	font-size: 12px;
	color: #333;
	font-family: 'FOT-筑紫オールド明朝 Pro R', serif;
	text-decoration: none;
	font-style: normal;
	margin: 0 120px 5px 0;
}
.footer-sns {
	margin: 0 auto;
	text-align: center;
}
.footer-sns ul li {
	letter-spacing: 0.1em;
	line-height: 2;
	list-style: none;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin: 0 auto;
	padding: 0px 5px 10px 0;
}
.globalFooter_copyright {
	margin: 0px 0px 0 0;
	padding: 0px 0 0 0;
}
.globalFooter_copyright small {
	color: #a4a4a4;
	font-size: 10px;
	margin: 0 100px 0px 0;
}
.globalFooter_logoBox {
	padding: 35px 0 15px 35px;
	margin: 0;
	width: 50%;
	float: left;
}
.flogo {
	padding: 35px 35px 35px 0px;
	float: right;
}
.footerBox {
	margin: 0 auto;
	max-width: 1100px;
	display: block;
	background-position: top;
	background: url(http://yomogi.com/test/soilhp/image/fbg.jpg) left center no-repeat;
	zoom:1;
	
}
#header {
	padding: 10px 0px 0px;
	margin: 0px auto;
	width: 400px;
}
#pagebody {
	width: 970px;
	margin: 0px auto;
	padding: 0px;
}
.clear {
	margin: 0px;
	padding: 0px;
	clear: both;
	font-size: 0px;
	line-height: 0px;
}
/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	clear: both;
	height: 0;
}
/* IE6 */
* html .clearfix {
	zoom: 1;
}
/* IE7 */
*:first-child+html .clearfix {
	zoom: 1;
}
/*------------------------------------------------------------
	about
------------------------------------------------------------*/
.gNavi02 {
	width: 30%;
	margin: 0 0 0 0;
	padding: 50px 0 0 40px;
	float: left;
}
.gNavi02 ul li {
	padding: 0 0 17px 5px;
	font-size: 17px;
	list-style: none;
}
.gNavi02 ul li span.on {
	cursor: pointer;
}
.gNavi02 ul li a {
	color: #333;
	font-family: 'FOT-筑紫オールド明朝 Pro R', serif;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}
.gNavi02 ul li a::after {
	background-color: #555;
	bottom: 0px;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: right center 0;
	transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	width: 100%;
}
.gNavi02 ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: left center 0;
	list-style: none;
}
.aboutimg {
	background: url(../image/aboutimg.png) no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 50px 0px 0px 0px;
	width: 700px;
	display: inline-block;
}
/*------------------------------------------------------------
	img:hover {
	opacity: 0.5;
}
------------------------------------------------------------*/
#contents {
	margin: 0 auto;
	max-width: 1100px;
}
.textBox {
	margin: 0 auto;
	max-width: 1100px;
	list-style: none;
}
.general-comment {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	margin-bottom: 4em;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height: 2.0;
	margin-left: 20px;
	padding: 20px 0px 0px 30px;
	height: 500px;
}
.comment {
	padding: 0px 0px 0px 0px;
	margin: 33px 0px 0px 0px;
	font-size: 1.1em;
}

.comment02 {
	padding: 0px 10px 0px 30px;
	margin: 33px 20px 0px 0px;
	font-size: 1.1em;
}
.aboutLead01 {
	width: 60px;
	height: 280px;
	margin: -88px -95px 0 0px;
	padding: 0px 0 0 0px;
	display: block;
	position: relative;
	float: left;
	font-size: 1.8em;
	font-weight: 300;
}
.general-comment02 {
	
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	margin-bottom: 4em;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height: 2.0;
	margin-left: 20px;
	padding: 20px 0px 0px 160px;
	height: 500px;
}
.aboutLead02 {
	width: 60px;
	height: 310px;
	margin: -290px -60px 0 0px;
	padding: 0px 0 0 0px;
	display: block;
	position: relative;
	float: left;
	font-size: 1.8em;
	font-weight: 300;
}
.yuukiimg {
	width: 60px;
	height: 80px;
	margin: -130px 50px 0 0px;
	padding: 0px 0 0 0px;
	display: block;
	position: relative;
	float: left;
}
.aboutimg02 {
	padding: 0px 0px 0px 0px;
	margin: 40px 0px 0 30px;
	display: block;
	position: relative;
}


/*------------------------------------------------------------
	cafe menu
------------------------------------------------------------*/
.logo02 {
	margin: 68px 0 50px 40px;
	padding: 15px 0 0 0;
	width: 200px;
}

.Cmenu {
	font-family: 'Noto Serif', serif;
	font-size: 1.4rem;
	letter-spacing: 0.1em;
	line-height: 1;
	text-align: center;
	padding: 100px 0 0 0;
	margin: 0 auto;
	max-width: 1100px;
}
.Cmenu-s {
	font-family: 'Noto Serif', serif;
	font-size: 0.7rem;
	letter-spacing: 0.1em;
	line-height: 3;
	text-align: center;
	margin: 0 auto;
	max-width: 1100px;
}
.Cmenu-contents {
	display: flex;
	justify-content: space-between;
}
.Cmenu-contents li {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 15px 55px 20px 0px;
	border-radius: 4px;
}
.Cmenu-list {
	font-family: 'Noto Serif', serif;
	font-size: 0.9rem;
	letter-spacing: 0.1em;
	line-height: 1.7;

}
.Cmenu-img {
	margin: 0 0 10px 0;
	padding: 0 0 13px 0;
	text-align: center;
		border-bottom:  solid 1px;
}
.Cmenu-wrap {
	margin: 0 0 0 0;
	padding: 0 0 0 20px;
	width: 720px;

}

.Cmenu-contentsBox {
	margin: 12px 0 0 0;
	padding: 0 0 0 0px;
	float: left;
}
.Cmenuname {
	width: 100%;
	text-align: left;
	margin: 0 0 0px 10px;
	padding: 10px 0 3px 0 ;
	font-size: 1.1em;
	letter-spacing: 0em;
	line-height: 1;
	font-weight: 700;

}

.Cmenurubi {
	width: 100%;
	text-align: left;
	margin: 0 0 0px 10px;
	font-size: 0.6rem;
	color: #747474;
}

.CmenuDetail {
	width: 100%;
	text-align: left;
	margin: 20px 0 20px 10px;
	font-size: 0.8rem;
}
.CmenuPrice {
	width: 100%;
	text-align: left;
	margin: 0 0 0px 0px;
	padding: 0 0 15px 10px;
	border-bottom:  solid 1px;
}



.soilname-small02 {
	background-image: url(../image/soilname-small.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 441px;
	margin: 0px 0 0 250px;
	padding: 0px 0 0 0;
	display: block;
	position: absolute;
	color: #898989;
	float: right;
}

.Cmenu-comment {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	margin-bottom: 4em;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height: 2.0;
	margin-left: 20px;
	padding: 20px 110px 0px 20px;
	height: 500px;
	float:right;
}

.CmenuLead01 {
	width: 60px;
	height: 280px;
	margin: -20px -85px 0 0px;
	padding: 0px 0 0 0px;
	display: block;
	position: relative;
	float: left;
	font-size: 1.8em;
	font-weight: 300;
}
.Cmenucomment {
	padding: 0px 10px 0px 0px;
	margin: 33px 0px 0px 80px;
	font-size: 1.1em;
	line-height: 1.0;
}

.Cmenuimg {
	background: url(../image/Cmenuimg.png) no-repeat;
	padding: 0px 0px 0px 0px;
	margin: 50px 0px 0px 0px;
	width: 700px;
	float:right;
}


.google_map {
	padding: 0px 10px 0px 0px;
	margin: 33px 0px 0px 80px;
	display: block;
	float: left;

}
.Cmenutitle{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 2.4em;
    width: 240px;
    float: right;
    padding: 0px 0 0px 0px;
	margin: -490px 80px 0 0;
		-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	position: relative;
	font-weight: 300;
	
}
/*------------------------------------------------------------
	cafe access
------------------------------------------------------------*/

.Cafeaccess {
    letter-spacing: 0.1em;
    line-height: 1.7;
    font-size: 12px;
    color: #333;
    font-family: 'FOT-筑紫オールド明朝 Pro R', serif;
    text-decoration: none;
    font-style: normal;
	margin: 0 0px 5px 0;
	width: 240px;
	float: right;

}

.Caccess {
	font-family: 'Noto Serif', serif;
	font-size: 1.4rem;
	letter-spacing: 0.1em;
	line-height: 1;
	text-align: center;
	padding: 100px 0 0 0;
	margin: 0 auto;
	max-width: 1100px;
}
.Caccess-s {
	font-family: 'Noto Serif', serif;
	font-size: 0.7rem;
	letter-spacing: 0.1em;
	line-height: 3;
	text-align: center;
	margin: 0 auto;
	max-width: 1100px;
}
.Caccess-contents {
	display: flex;
	justify-content: space-between;
}
.Caccess-contents li {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 15px 55px 20px 0px;
	border-radius: 4px;
}
.Caccess-list {
	font-family: 'Noto Serif', serif;
	font-size: 0.9rem;
	letter-spacing: 0.1em;
	line-height: 1.7;

}
.Caccess-img {
	margin: 0 0 10px 0;
	padding: 0 0 13px 0;
	text-align: center;
		border-bottom:  solid 1px;
}
.Caccess-wrap {
	margin: 0 0 0 0;
	padding: 0 0 0 20px;
	width: 720px;

}

.Caccess-contentsBox {
	margin: 18px 0 0 0;
	padding: 0 0 0 0px;
	float: left;
	width: 750px;
}
.Caccessname {
	width: 100%;
	text-align: left;
	margin: 0 0 0px 10px;
	padding: 10px 0 0 0 ;
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	line-height: 1;

}

.Caccessrubi {
	width: 100%;
	text-align: left;
	margin: 0 0 0px 10px;
	font-size: 0.7rem;
	color: #747474;
}

.CaccessDetail {
	width: 100%;
	text-align: left;
	margin: 20px 0 20px 10px;
	font-size: 0.8rem;
}
.CaccessPrice {
	width: 100%;
	text-align: left;
	margin: 0 0 0px 0px;
	padding: 0 0 15px 10px;
	border-bottom:  solid 1px;
}


.Caccess-comment {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	margin-bottom: 4em;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height: 2.0;
	margin-left: 0px;
	padding: 20px 100px 0px 0px;
	height: 500px;
	float:right;
}
.CaccessLead01 {
	width: 60px;
	height: 280px;
	margin: 0px -80px 0 0px;
	padding: 0px 0 0 0px;
	display: block;
	position: relative;
	float: left;
	font-size: 1.8em;
	font-weight: 300;
}
.Caccesstitle{
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;	
	font-size: 1.3em;
		width: 240px;
	float: right;
	padding: 30px 0 200px 0px;
	
	
}

.map_btn{
    font-family: 'FOT-筑紫オールド明朝 Pro R', serif;
color: #333;
	width: 240px;
	float: right;
	padding: 20px 0 0px 0px;

}




.map_btn a:hover {
	color: #A8A6A6;
}

.map_btn a {
	text-decoration: none;
	color: #333;
}


