@charset "euc-jp";

#page-wrapper {
  position: relative;
}
#wrapper {
}
#container {
  padding: 120px 0;
}
.container {
  width: 100% !important;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #ccc;
  background-color: #fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: rgba(82, 168, 236, 0.8);
}

.muted {
  color: #999;
}

body {
  color: <{$font_color}>;
  background-color: <{$page_bgcolor}>;
  background-image: url(<{$page_bgimg}>);
}

a {
  color: <{$link_normal}>;
}
  a:hover {
    color: <{$link_hover}>;
  }

a.muted:hover,
a.muted:focus {
  color: #808080;
}

.text-warning {
  color: #c09853;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}

.text-error {
  color: #b94a48;
}

a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}

.text-info {
  color: #3a87ad;
}

a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}

.text-success {
  color: #468847;
}

a.text-success:hover,
a.text-success:focus {
  color: #356635;
}

.btn-01 {
  border: 1px solid <{$btn_01_bgcolor}>;
  background-color: <{$btn_01_bgcolor}>;
  color: <{$btn_01_font_color}>;
  *background-color: <{$btn_01_bgcolor}>;
}

h2 {
  margin: 30px 0 !important;
  text-align: center;
  font-size: 1.5em !important;
}
  .ttl-h2 {
    position: relative;
    margin: 0 0 60px;
  }
  .ttl-h2:before {
    position: absolute;
    top: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
  }
  .ttl-h2 span {
    padding: 0 2em;
    background-color: <{$page_bgcolor}>;
  }

.btn-01 {
  border: 1px solid <{$btn_01_bgcolor}>;
  background-color: <{$btn_01_bgcolor}>;
  color: <{$btn_01_font_color}>;
  *background-color: <{$btn_01_bgcolor}>;
}

.btn-01:hover,
.btn-01:focus,
.btn-01:active,
.btn-01.active,
.btn-01.disabled,
.btn-01[disabled] {
  border: 1px solid <{$btn_01_bgcolor_hover}>;
  background-color: <{$btn_01_bgcolor_hover}>;
  color: <{$btn_01_font_color}>;
  *background-color: <{$btn_01_bgcolor_hover}>;
}

.btn-02 {
  border: 1px solid <{$btn_02_bgcolor}>;
  background-color: <{$btn_02_bgcolor}>;
  color: <{$btn_02_font_color}>;
  *background-color: <{$btn_02_bgcolor}>;
}

.btn-02:hover,
.btn-02:focus,
.btn-02:active,
.btn-02.active,
.btn-02.disabled,
.btn-02[disabled] {
  border: 1px solid <{$btn_02_bgcolor_hover}>;
  background-color: <{$btn_02_bgcolor_hover}>;
  color: <{$btn_02_font_color}>;
  *background-color: <{$btn_02_bgcolor_hover}>;
}
.product-order-num input {
  border-color: <{$btn_02_bgcolor}>;
}

/*
 * web font
 */
.google-font {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
}
  .google-font.fwb {
    font-weight: 700;
  }

/*
 * icon
 */
.icon-b,
.icon-w {
  display: inline-block;
  width: 16px;
  height: 16px;
  *display: inline;
  *zoom: 1;
}
.icon-b {
  background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon16_b.png);
}
.icon-w {
  background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon16_w.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz--device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-b,
  .icon-w {
    -webkit-background-size: 368px 320px;
    background-size: 368px 320px;
  }
  .icon-lg-b,
  .icon-lg-w {
    -webkit-background-size: 552px 480px;
    background-size: 552px 480px;
  }
  .icon-b {
    background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon16_2x_b.png);
  }
  .icon-w {
    background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon16_2x_w.png);
  }
  .icon-lg-b {
    background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon24_2x_b.png);
  }
  .icon-lg-w {
    background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon24_2x_w.png);
  }
}
.icon-cart { background-position: -176px -64px; }
.icon-user { background-position: -208px -0px; }
.icon-adduser { background-position: -240px -0px; }
.icon-logout { background-position: -32px -80px; }
.icon-login { background-position: -48px -80px; }
/* icon large */
.icon-twitter { background-position: -144px -264px; }
.icon-facebook { background-position: -192px -264px; }
.icon-instagram { background-position: -168px -288px; }
.icon-mail { background-position: -96px -0px; }
.icon-lg-w.icon-cart { background-position: -264px -96px; }
.icon-lg-w.icon-chevron_up { background-position: -0px -216px; }
.icon-lg-w.icon-chevron_down { background-position: -528px -192px; }

.icon-lg-b,
.icon-lg-w {
  width: 24px;
  height: 24px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.icon-lg-b {
  background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon24_b.png);
}
.icon-lg-w {
  background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon24_w.png);
}


/*
 * header
 */
#header-wrapper {
  margin-bottom: 4em;
}

#header-wrapper ul {
    margin: 10px 10px 10px 0 !important;
  }

.header-link a {
  color: <{$menu_link}>;
}
.header-link a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* header-line-nav */
.header-line-nav li {
  padding-top: 5px;
}
  .header-line-nav a {
    cursor: pointer;
  }
  .header-line-nav span {
    float: left;
    padding-left: 4px;
    font-size: 12px;
    line-height: 1.5em;
  }
  .header-line-nav .icon-b,
  .header-line-nav .icon-w {
    float: left;
  }
.view-cart {
  position: relative;
  top: -6px;
  padding-top: 0 !important;
}
.btn-viewcart {
  padding: 1px 15px 0 13px;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
}

/* header logo */
.shop-name {
  clear: both;
  margin: 0;
  text-align: center;
  background: #070505;
}
.shop-description {
  font-size: 12px;
  font-weight: normal;
  color: <{$menu_link}>;
}

/* header global nav */
#header-global-nav {
  margin: 1.8em 0;
  text-align: center;
  font-size: 16px;
}
  #header-global-nav li {
    margin: 0 1em;
  }

/* incart delivery */
.incart-delivery {
  float: right;
}
  .incart-delivery ul {
    margin: 0;
    padding: 10px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #d9edf7;
    color: #31708f;
    list-style: none;
    font-size: 12px;
  }

/* slider */
.slider {
  margin-top: 2em;
  padding: 0 .1%;
  position: relative;
}
.bx-viewport {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  left: 0 !important;
  border: none !important;
}
#slider div {
  width: 100% !important;
}

/*
 * product list
 */

.prd-lst-none {
  text-align: center;
}
.prd-lst-unit {
  margin-bottom: 60px;
  padding: 0 30px;
  text-align: center;
}
.prd-lst-img {
  display: block;
  margin: 0 auto 1em;
}
.prd-lst-span {
  display: block;
  margin: .3em 0;
  font-size: 12px;
}
.prd-lst-name {
  font-size: 14px;
}
.prd-lst-price {
  color: #abaaaa;
}
.prd-lst-regular {
  text-decoration: line-through;
}
.prd-lst-discount {
  color: #b81717;
}

/* product list sort */
.prd-lst-sort {
  margin: 3em 0;
  color: #888;
  text-align: center;
  font-size: 12px;
}

.prd-lst-sort a {
  color: #888 !important;
}

/* prduct list pager */
.prd-lst-pager {
  text-align: center;
}
.prd-lst-pos b {
  font-size: 18px;
  font-weight: normal;
}

/*
 * product
 */
.product-image-thumb img {
  border: 2px solid <{$page_bgcolor}>;
}
.thumb-active img {
  border: 2px solid <{$btn_01_bgcolor}>;
}


/*
 * footer
 */

#footer-wrapper {
  background: #070505;
  padding: 3em 3em 1em;
}
.footer-primary {
  border-right: 1px solid #e7e7e7;
}

/* footer nav */
.footer-nav {
  list-style: none;
  margin: 0;
}
  .footer-nav li {
    margin: .8em 0;
  }
.footer-primary {
  padding: .3em 0;
}
  .footer-primary li {
    margin-right: 25px;
    margin-left: 5px;
  }
  .footer-primary a {
    color: <{$menu_link}>;
  }
  .freepage-nav {
    margin-right: 10%;
    margin-bottom: 1.5em;
    padding-bottom: .8em;
    border-bottom: 1px solid #e7e7e7;
  }
.footer-secondary {
  padding: .3em 0;
  font-size: 12px;
}
  .footer-secondary li {
    margin-left: 10%;
  }
  .footer-secondary li:before {
    margin-right: 4px;
    color: #abaaaa;
    content: "-";
  }
  .footer-secondary a {
    color: #abaaaa;
  }

/* social icon */
.social-nav {
  text-align: center;
  margin: 2em 0;
}

/* copyright */
.copyright {
  margin: 3em 0 2em;
  color: #abaaaa;
  text-align: center;
  font-size: 12px;
}
.powered {
  display: block;
  margin: .5em auto 0;
  width: 180px;
  height: auto;
}

/* pagetop */
#pagetop {
  position: fixed;
  right: 0;
  bottom: 100px;
  display: none;
}
.btn-pagetop {
  display: block;
  padding: .8em .4em .8em .5em;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}


@media (max-width: 980px) {
  #base_gmoWrapp,
  #gmo_CMSPbar {
    overflow: hidden;
    min-width: 100% !important;
    width: 100% !important;
  }
  #container {
    padding: 60px 0;
  }
  .container {
    /*max-width: 900px;*/
    width: 90%;
  }
}
@media (max-width: 768px) {
  #wrapper {
    /*padding-top: 3em;*/
  }
  .container {
    width: auto !important;
    padding: 0 !important;
  }
  .header-dropdown {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
  }
  .header-dropdown.affix {
    position: fixed;
  }
    .header-dropdown .dropdown-nav li {
      border-bottom: 1px solid #dbdbdb;
      text-align: center;
    }
    .header-dropdown .dropdown-nav a {
      display: block;
      padding: 10px;
    }
    .header-dropdown .btn-dropdown {
      padding-left: 34px;
      font-size: 16px;
      line-height: 1.6;
    }
    .header-dropdown .btn-dropdown-close {
      opacity: 0.4;
    }
  .view-cart {
    position: static;
  }
    .view-cart a {
      background-color: <{$btn_01_bgcolor}>;
      color: <{$btn_01_font_color}>;
    }
    .view-cart span {
      display: block;
      width: 130px;
      margin: 0 auto;
    }
    .view-cart .icon-w {
      float: left;
      margin-top: -2px;
    }
  .incart-delivery {
    padding-top: 20px;
    float: none;
  }
  .prd-lst-sort {
    font-size: 14px;
  }
  .footer-primary,
  .footer-secondary {
    padding: 0;
    border: none;
  }
  .footer-nav {
    margin: 0;
    padding: 0;
    border-bottom: 3px double #e7e7e7;
  }
    .footer-primary .footer-nav:first-child {
      border-top: 3px double #e7e7e7;
    }
  .footer-nav li {
    margin: 0;
    font-size: 14px;
    border-top: 1px solid #e7e7e7;
  }
    .footer-nav li:first-child {
      border-top: none;
    }
  .footer-nav li:before {
    display: none;
  }
  .footer-nav a {
    display: block;
    padding: 1em;
    color: <{$menu_link}>;
  }
  .footer-nav a:hover {
    text-decoration: none;
  }
  .icon-b,
  .icon-w {
    display: inline-block;
    width: 24px;
    height: 24px;
    *display: inline;
    *zoom: 1;
  }
  .icon-b {
    background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon24_b.png);
  }
  .icon-w {
    background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon24_w.png);
  }
  .icon-cart { background-position: -264px -96px; }
  .icon-list { background-position: -288px -144px; }
  .icon-chevron_thin_up { background-position: -192px -216px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz--device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-b,
    .icon-lg-b {
      background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon24_2x_b.png);
    }
    .icon-w,
    .icon-lg-w {
      background-image: url(https://img.shop-pro.jp/tmpl_img/69/icon24_2x_w.png);
    }
    .icon-b,
    .icon-w {
      -webkit-background-size: 552px 480px;
      background-size: 552px 480px;
    }
  }
}
@media (max-width: 480px) {
  .ttl-h2 span {
    padding: 0 10px;
    font-size: 14px;
  }
  .prd-lst-unit {
    margin-bottom: 30px;
    height: auto !important;
  }
}

/* IE用 */
.ie_wrapper.container {
  width: 900px;
  overflow: auto;
}

#policy,
#delivery{
  padding-left: 20px;
  padding-right: 20px;
}

/* Initialize */
/* ------------------------------------------------------------ */
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code, 
del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, 
b, i, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: middle;
	background: transparent;
}

article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

html, body {
	height: 100%;
}

body {
	background: #fff;
	color: #231815;
	font-size: 16px;
	font-family: Garamond, "Times New Roman", "Ryo Text PlusN", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	line-height: 1;
	letter-spacing: 0.1em;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}

ul, ol {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote: before,
blockquote: after, 
q: before,
q: after {
	content: '';
	content: none;
}
img {
	vertical-align: middle;
	font-size:0;
	line-height: 0;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px #000 dotted;
	cursor: help;
}

table {
	font-size: 16px;
	empty-cells: hide;
	border-collapse: collapse;
	border-spacing: 0px;
}

th {
	padding: 0;
}

td {
	padding: 0;
}

br {
	letter-spacing: 0;
}

input, select {
	vertical-align: middle;
}

button, input, select, textarea {
	font-family : inherit;
	font-size : 100%;
}


/* 追加分 */
/* ------------------------------------------------------------ */

@media screen and (min-width: 981px) {

/* Link */
/* ------------------------------------------------------------ */

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:active {
    color: #fff;
    text-decoration: underline;
}

.alpha {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.alpha:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/* Font */
/* ------------------------------------------------------------ */

em {
    font-style: normal;
}

sup {
    font-size: 66%;
    vertical-align: top;
}

sub {
    font-size: 66%;
    vertical-align: baseline;
}

/* インデント1文字分 */
/* ------------------------------------------------------------ */

.indent {
    text-indent: -1em;
    margin-left: 1em;
}

/* Align */
/* ------------------------------------------------------------ */

.a_left {
    text-align: left !important;
}

.a_center {
    text-align: center !important;
}

.a_right {
    text-align: right !important;
}

/* Float */
/* ------------------------------------------------------------ */

.f_left {
    float: left;
}

.f_right {
    float: right;
}

/* Clear */
/* ------------------------------------------------------------ */

.clfx:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

/* HR */
/* ------------------------------------------------------------ */

hr {
    height: 1px;
    margin: 60px 0;
    padding: 0;
    display: block;
    border: 0;
    border-top: 1px #e6e6e6 solid;
}

/* Center合わせ */
/* ------------------------------------------------------------ */

.c_mgn {
    margin-left: auto;
    margin-right: auto;
}

/* pc_mode / sp_mode */
/* ------------------------------------------------------------ */

.pc_mode {
    display: block !important;
}

.sp_mode {
    display: none;
}

/* Header */
/* ------------------------------------------------------------ */

header section.common_header {
}

header section.common_header .inner {
    margin: 0 auto;
    position: relative;
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
}

header section.common_header .inner h1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    margin: 30px 0 0 30px;
    position: absolute;
    top: 0;
    left: 0;
}

header section.common_header .inner .logo {
    width: 250px;
    margin: 80px auto 40px;
}

header section.common_header .inner .logo img {
    width: 100%;
    height: auto;
}

/* Global menu */
/* ------------------------------------------------------------ */

#nav_toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    height: 30px;
    cursor: pointer;
}

#nav_toggle>div {
    position: relative;
    width: 40px;
}

#nav_toggle span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #231815;
    position: absolute;
    -webkit-transition: top .2s ease, -webkit-transform .3s ease-in-out;
    transition: top .2s ease, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, top .2s ease;
    transition: transform .3s ease-in-out, top .2s ease, -webkit-transform .3s ease-in-out;
}

#nav_toggle span:nth-child(1) {
    top: 0;
}

#nav_toggle span:nth-child(2) {
    top: 14px;
}

#nav_toggle span:nth-child(3) {
    top: 28px;
}

#nav_toggle:hover span:nth-child(1) {
    top: 6px;
}

#nav_toggle:hover span:nth-child(3) {
    top: 22px;
}

.open #nav_toggle span {
    background: #fff;
}

.open #nav_toggle span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open #nav_toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
}

.open #nav_toggle span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav_toggle {
    z-index: 1000;
}

#gloval_nav {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}

#gloval_nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
}

#gloval_nav a:hover {
    color: #666;
}

#gloval_nav dl {
    list-style: none;
}

#gloval_nav dl dt {
    text-align: center;
    width: 250px;
    margin: 0 auto 60px;
}

#gloval_nav dl dt img {
    width: 160px;
    height: auto;
}

#gloval_nav dl dd {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
    display: block;
}

#gloval_nav dl dd span {
    font-size: 18px;
    position: relative;
    display: block;
    margin: 10px 0 0;
    padding: 10px 0 0;
}

#gloval_nav dl dd span::before {
    content: "";
    background: #fff;
    height: 1px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#gloval_nav dl dd:hover span::before {
    background: #666;
}

#gloval_nav dl dd {
    margin: 20px 0 0;
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: opacity .1s ease, -webkit-transform .3s ease;
    transition: opacity .1s ease, -webkit-transform .3s ease;
    transition: transform .3s ease, opacity .1s ease;
    transition: transform .3s ease, opacity .1s ease, -webkit-transform .3s ease;
}

#gloval_nav dl dd:nth-child(2) {
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
}

#gloval_nav dl dd:nth-child(3) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

#gloval_nav dl dd:nth-child(4) {
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}

#gloval_nav dl dd:nth-child(5) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

#gloval_nav dl dd:nth-child(6) {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}

#gloval_nav dl dd:nth-child(7) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

#gloval_nav dl dd:nth-child(8) {
    -webkit-transition-delay: .35s;
    transition-delay: .35s;
}

#gloval_nav dl dd:nth-child(9) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

#gloval_nav dl dd:nth-child(10) {
    -webkit-transition-delay: .45s;
    transition-delay: .45s;
}

#gloval_nav dl dd:nth-child(11) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

#gloval_nav dl dd:nth-child(12) {
    -webkit-transition-delay: .55s;
    transition-delay: .55s;
}
  
#gloval_nav dl dd:nth-child(13) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}

.open {
    /*overflow: hidden;*/
}

.open #gloval_nav {
    visibility: visible;
    opacity: 1;
}

.open #gloval_nav dd {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .55s ease, -webkit-transform 1s ease;
    transition: opacity .55s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .55s ease;
    transition: transform 1s ease, opacity .55s ease, -webkit-transform 1s ease;
}

.title {
	background: url(http://www.yomogi.com/images/bg_header.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.title h2 {
	font-size: 18px;
	color: #fff;
	line-height: 1;
	text-shadow: 0px 0 8px #231815;
}
.title h2 span {
	font-size: 32px;
	margin: 0 0 10px;
	padding: 0 0 10px;
	display: block;
	border-bottom: 1px #fff solid;
}
  
footer {
	background: #231815;
	color: #ffffff;
	text-align: center;
}
footer a,
footer a:hover {
	color: #ffffff;
}
footer #footeriti {
	margin: 0 auto;
	padding: 60px 0 40px;
	overflow: hidden;
}
footer #footeriti h2 {
	margin: 0 auto;
}
footer #footeriti h2 a {
	text-decoration: none;
}
footer #footeriti h2 span {
    font-size: 10px;
    margin: 10px 0 0;
	display: block;
}
footer #footeriti .footertext_area {
	text-align: left;
	margin: 60px 40px 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
footer #footeriti .footertext_area h3 {
	font-size: 18px;
	font-weight: 600;
}
footer #footeriti .footertext_area li {
	margin-top: 10px;
}
footer #footeriti .footertext_area span {
	font-size: 12px;
}
footer #footeriti .footertext_area tel a[href^="tel:"] {
	pointer-events: none;
}
footer #footeriti .footertext_area .footertext_left {
	flex-grow: 2;
}
footer #footeriti .footertext_area .footertext_right {
	flex-grow: 1;
}
footer #footeriti .footertext_area .footertext_right span {
	padding-left: 10px;
}
footer #footeriti .footertext_area .footertext_right .sitemap {
	display: flex;
	justify-content: space-between;
}
footer #footeriti .footertext_area .footertext_right ul {
    font-size: 14px;
	padding: 0 40px 0 0;
}
footer #footeriti .footertext_area .footertext_right ul li a {
	background: url(http://www.yomogi.com/images/icon_arrow1.svg) no-repeat left center;
	background-size: auto 12px;
	padding: 0 0 0 20px;
}
footer #footeriti .copyright {
	font-size: 12px;
	margin: 60px auto 0;
	letter-spacing: 0.1em;
}
footer #footeriti .produce {
	background: #ffffff;
	font-size: 12px;
	margin: 10px auto 0;
	padding: 3px 10px;
	display: inline-block;
	letter-spacing: 0.1em;
    border-radius: 4px;
}
footer #footeriti .produce a {
    color: #231815;
}

}

@media screen and (max-width: 980px) {

/* Link */
/* ------------------------------------------------------------ */

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:active {
    color: #fff;
    text-decoration: underline;
}

.alpha {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.alpha:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/* Font */
/* ------------------------------------------------------------ */

em {
    font-style: normal;
}

sup {
    font-size: 66%;
    vertical-align: top;
}

sub {
    font-size: 66%;
    vertical-align: baseline;
}

/* インデント1文字分 */
/* ------------------------------------------------------------ */

.indent {
    text-indent: -1em;
    margin-left: 1em;
}

/* Align */
/* ------------------------------------------------------------ */

.a_left {
    text-align: left !important;
}

.a_center {
    text-align: center !important;
}

.a_right {
    text-align: right !important;
}

/* Float */
/* ------------------------------------------------------------ */

.f_left {
    float: left;
}

.f_right {
    float: right;
}

/* Clear */
/* ------------------------------------------------------------ */

.clfx:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

/* HR */
/* ------------------------------------------------------------ */

hr {
    height: 1px;
    margin: 60px 0;
    padding: 0;
    display: block;
    border: 0;
    border-top: 1px #e6e6e6 solid;
}

/* Center合わせ */
/* ------------------------------------------------------------ */

.c_mgn {
    margin-left: auto;
    margin-right: auto;
}

/* pc_mode / sp_mode */
/* ------------------------------------------------------------ */

.pc_mode {
    display: none;
}

.sp_mode {
    display: block !important;
}

/* Header */
/* ------------------------------------------------------------ */

header section.common_header {
}

header section.common_header .inner {
    margin: 0 auto;
    position: relative;
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
}

header section.common_header .inner h1 {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2;
    margin: 10px 10px 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}

header section.common_header .inner .logo {
    width: 130px;
    margin: 60px auto 20px;
}

header section.common_header .inner .logo img {
    width: 100%;
    height: auto;
}

/* Global menu */
/* ------------------------------------------------------------ */

#nav_toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 22px;
    cursor: pointer;
}

#nav_toggle>div {
    position: relative;
    width: 30px;
}

#nav_toggle span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #231815;
    position: absolute;
    -webkit-transition: top .2s ease, -webkit-transform .3s ease-in-out;
    transition: top .2s ease, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, top .2s ease;
    transition: transform .3s ease-in-out, top .2s ease, -webkit-transform .3s ease-in-out;
}

#nav_toggle span:nth-child(1) {
    top: 0;
}

#nav_toggle span:nth-child(2) {
    top: 10px;
}

#nav_toggle span:nth-child(3) {
    top: 20px;
}

.open #nav_toggle span {
    background: #fff;
}

.open #nav_toggle span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open #nav_toggle span:nth-child(2) {
    top: 10px;
    width: 0;
    left: 50%;
}

.open #nav_toggle span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav_toggle {
    z-index: 1000;
}

#gloval_nav {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}

#gloval_nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
}

#gloval_nav a:hover {
    color: #666;
}

#gloval_nav dl {
    list-style: none;
}

#gloval_nav dl dt {
    text-align: center;
    width: 250px;
    margin: 0 auto 30px;
}

#gloval_nav dl dt img {
    width: 100px;
    height: auto;
}

#gloval_nav dl dd {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
    display: block;
}

#gloval_nav dl dd span {
    font-size: 18px;
    position: relative;
    display: block;
    margin: 10px 0 0;
    padding: 10px 0 0;
}

#gloval_nav dl dd span::before {
    content: "";
    background: #fff;
    height: 1px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#gloval_nav dl dd:hover span::before {
    background: #666;
}

#gloval_nav dl dd {
    margin: 20px 0 0;
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: opacity .1s ease, -webkit-transform .3s ease;
    transition: opacity .1s ease, -webkit-transform .3s ease;
    transition: transform .3s ease, opacity .1s ease;
    transition: transform .3s ease, opacity .1s ease, -webkit-transform .3s ease;
}

#gloval_nav dl dd:nth-child(2) {
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
}

#gloval_nav dl dd:nth-child(3) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

#gloval_nav dl dd:nth-child(4) {
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}

#gloval_nav dl dd:nth-child(5) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

#gloval_nav dl dd:nth-child(6) {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}

#gloval_nav dl dd:nth-child(7) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

#gloval_nav dl dd:nth-child(8) {
    -webkit-transition-delay: .35s;
    transition-delay: .35s;
}

#gloval_nav dl dd:nth-child(9) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

#gloval_nav dl dd:nth-child(10) {
    -webkit-transition-delay: .45s;
    transition-delay: .45s;
}

#gloval_nav dl dd:nth-child(11) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

#gloval_nav dl dd:nth-child(12) {
    -webkit-transition-delay: .55s;
    transition-delay: .55s;
}
  
#gloval_nav dl dd:nth-child(13) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}

.open {
    /*overflow: hidden;*/
}

.open #gloval_nav {
    visibility: visible;
    opacity: 1;
}

.open #gloval_nav dd {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .55s ease, -webkit-transform 1s ease;
    transition: opacity .55s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .55s ease;
    transition: transform 1s ease, opacity .55s ease, -webkit-transform 1s ease;
}

.title {
	background: url(http://www.yomogi.com/images/bg_header.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title h2 {
	font-size: 12px;
	color: #fff;
	line-height: 1;
	text-shadow: 0px 0 8px #231815;
}
.title h2 span {
	font-size: 22px;
	margin: 0 0 5px;
	padding: 0 0 5px;
	display: block;
	border-bottom: 1px #fff solid;
}
  
footer {
	background: #231815;
	color: #ffffff;
	text-align: center;
}
footer a {
	color: #ffffff;
}
footer #footeriti {
	margin: 0 auto;
	padding: 30px 0 20px;
	overflow: hidden;
}
footer #footeriti h2 {
	margin: 0 auto;
}
footer h2 img {
    width: 100px;
    height: auto;
}
footer #footeriti h2 a {
	text-decoration: none;
}
footer #footeriti h2 span {
    font-size: 8px;
    margin: 10px 0 0;
	display: block;
}
footer #footeriti .footertext_area {
    text-align: left;
    margin: 20px 10px;
    overflow: hidden;
    display: block;
}
footer #footeriti .footertext_area h3 {
	font-size: 16px;
	font-weight: 600;
}
footer #footeriti .footertext_area li {
	margin-top: 10px;
}
footer #footeriti .footertext_area span {
	font-size: 12px;
}
footer #footeriti .footertext_area .footertext_left {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px #fff solid;
}
footer #footeriti .footertext_area .footertext_right {
	flex-grow: 1;
}
footer #footeriti .footertext_area .footertext_right span {
	padding-left: 10px;
}
footer #footeriti .footertext_area .footertext_right .sitemap {
	display: block;
}
footer #footeriti .footertext_area .footertext_right ul {
    font-size: 14px;
	padding: 0 40px 0 0;
}
footer #footeriti .footertext_area .footertext_right ul li a {
	background: url(http://www.yomogi.com/images/icon_arrow1.svg) no-repeat left center;
	background-size: auto 12px;
	padding: 0 0 0 20px;
}
footer #footeriti .copyright {
	font-size: 12px;
	margin: 30px auto 0;
	letter-spacing: 0.1em;
}
footer #footeriti .produce {
	background: #ffffff;
	font-size: 12px;
	margin: 10px auto 0;
	padding: 3px 10px;
	display: inline-block;
	letter-spacing: 0.1em;
    border-radius: 4px;
}

footer #footeriti .produce a {
    color: #231815;
}

}